.fitwidth{
	font-size: 9vw;
}

.section{
	background-size: cover;
	background-position: center center;
	text-align: center;

}

.intro{
	background-image: linear-gradient(
	  rgba(0, 0, 0, 0.45), 
	  rgba(0, 0, 0, 0.45)
	), url('img/intro.jpg');
	color: white;
	/* -webkit-text-stroke: 2px black; */
}

.currency{
	
}